.home{
    background-color: #f5f5f5;
    padding: 50px 0;
}
.home__tab{
    margin-top: 50px;
}
.home__collection,
.home__category
{
    max-width: 1450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 20px 0;
    /* background: red; */
}
.home__collection h2,
.home__category h2
{
    font-size: 25px;
    font-weight: 700;
    padding: 5px 0;
}
.home__collectionList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}
.home__categoryList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
}

@media screen and (max-width: 1450px) {
    .home__collection {
        margin-left: 50px;
        margin-right: 50px;
    }  
}
@media screen and (max-width: 1024px) {
    .home__collectionList{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .home__categoryList{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .home__collection,
    .home__category
    {
        margin-left: 20px;
        margin-right: 20px;
    }    

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {
    .home__collectionList{
        grid-template-columns: 1fr 1fr;
    }
    .home__categoryList{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 450px) {
    .home__collectionList{
        grid-template-columns: 1fr;
    }
    .home__categoryList{
        grid-template-columns: 1fr 1fr;
    }
}